<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Odin Project - Etch-A-Sketch</title>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="../public/css/base.css">
</head>

<body>

    <div id="layoutRoot">
        <div id="options">
            <button id="reset">Reset</button>
        </div>
        <div id="container"></div>
        <div id="fakeRight"></div>
    </div>

    <script src="../public/js/EtchASketch.js"></script>
    <script src="../public/js/app.js"></script>
</body>

</html>