<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Calculator</title>
        <link rel="stylesheet" href="../css/base.css">
    </head>

    <body>

        <div class="outer-wrapper">
            <div class="btn-container">
                <div class="btn-border">
                    <button class="btn">CE</button>
                </div>
                <div class="btn-border">
                    <button class="btn">C</button>
                </div>
                <div class="btn-border">
                    <button class="btn">BS</button>
                </div>
                <div class="btn-border">
                    <button class="btn" id="btn-div" data-opType="Divide">/</button>
                </div>
                <div class="btn-border">
                    <button class="btn">7</button>
                </div>
                <div class="btn-border">
                    <button class="btn">8</button>
                </div>
                <div class="btn-border">
                    <button class="btn">9</button>
                </div>
                <div class="btn-border">
                    <button class="btn" id="btn-mul" data-opType="Multiply">x</button>
                </div>
                <div class="btn-border">
                    <button class="btn">4</button>
                </div>
                <div class="btn-border">
                    <button class="btn">5</button>
                </div>
                <div class="btn-border">
                    <button class="btn">6</button>
                </div>
                <div class="btn-border">
                    <button class="btn" id="btn-sub" data-opType="Subtract">-</button>
                </div>
                <div class="btn-border">
                    <button class="btn">1</button>
                </div>
                <div class="btn-border">
                    <button class="btn">2</button>
                </div>
                <div class="btn-border">
                    <button class="btn">3</button>
                </div>
                <div class="btn-border">
                    <button class="btn" id="btn-add" data-opType="Add">+</button>
                </div>
                <div class="btn-border">
                    <button class="btn" id="btn-negate" data-opType="Negate">p/m</button>
                </div>
                <div class="btn-border">
                    <button class="btn">0</button>
                </div>
                <div class="btn-border">
                    <button class="btn">.</button>
                </div>
                <div class="btn-border">
                    <button class="btn" id="btn-equal">eq</button>
                </div>
            </div>
            <div id="result">Result</div>
        </div>

        </div>
        <script src="../js/app.js"></script>
    </body>

</html>