<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo v1 pure html css js</title>
    <link rel="stylesheet" type="text/css" href="../public/css/base.css" />
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/handlebars/dist/handlebars.js"></script>
</head>

<body>

    <div class="todo-container">
        <input type="text" id="input-text" placeholder="enter todo item">
        <div id="list-commands"></div>
        <ul id="todo-items"></ul>

        <div id="todoItemContainer"></div>

        <hr>
        <script id="todoItemTemplate" type="text/x-handlebars-template">
            {{#each this}} {{#if isCompleted}}

            <div class="todo-item-container done">
                <span>{{todoText}}</span>
                <button>Delete</button>
            </div>
            {{else}}
            <div class="todo-item-container">
                <span>{{todoText}}</span>
                <button>Complete</button>
                <button>Delete</button>
            </div>

            {{/if}} {{/each}}
        </script>
    </div>

    <br>
    <br>
    <hr>

    <div id="actions">
        <button id="delete-all-completed">Delete completed</button>
        <button id="delete-all">Delete all </button>
        <button id="show-hide-completed">Show/Hide completed</button>
    </div>

    <div id="command-bar">
        <div id="counts"></div>
    </div>


    <script src="../public/js/Todo.js"></script>
    <script src="../public/js/app.js"></script>
</body>

</html>