<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/base2.css">
</head>

<body>

    <div id="inline">
        This is how the
        <span id="one">world ends</span>, swallowed by fire but not by darkness. You will live on in the hearts of our children
    </div>

    <div id="inlineBlock">
        This is how the
        <span id="two">world ends</span>, swallowed by fire but not by darkness. You will live on in the hearts of our children

    </div>

    <div id="block">
        This is how the
        <span id="three">world ends</span> , swallowed by fire but not by darkness. You will live on in the hearts of our children

    </div>

</body>

</html>