body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#actions {
    display: flex;
    margin: 1em;
}

ul li {
    list-style: none;
}

button {
    margin-left: 1em;
    margin-right: 1em;
}

.todo-item-container {
    padding: 0.25em;
    border-bottom: 1px solid lightgray;
}

.done {
    background-color: darkgray;
}

input {
    box-shadow: 1px 1px black;
}