body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #252525;
}

#actions {
    display: flex;
}

#counts {
    font-size: 1em;
    color: darkgray;
    text-align: center;
}

ul li {
    list-style: none;
}

button {
    width: 150px;
    margin: auto;
}

#input-text {
    border-width: 0px;
}

.rootContainer {
    width: 50%;
    margin: auto;
}

.done {
    background-color: darkgray;
}