img {
    width: 70px;
    height: 70px;
}

#users {
    display: flex;
    flex-wrap: wrap;
}

.user {
    display: flex;
    background-color: gray;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}