<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo v1 pure html css js</title>
    <link rel="stylesheet" type="text/css" href="../public/css/base.css" />
</head>

<body>

    <div class="list-container">
        <input type="text" id="input-text" placeholder="enter todo item">
        <div id="list-commands"></div>
        <ul id="list-items"></ul>
    </div>
    <div id="actions">
        <button id="delete-all-completed">Delete completed</button>
        <button id="delete-all">Delete all </button>
        <button id="show-hide-completed">Show/Hide completed</button>
    </div>
    <div id="command-bar">
        <div id="counts"></div>    
     
    </div>
    <script src="../public/js/app.js"></script>
</body>

</html>