<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/base.css">
    <title>Image playground </title>
</head>

<body>
    <!-- <div id="imgContainerNoCss">
        <img id="nocss" src="../images/15.jpg" alt="gundam">
    </div> -->
    <!-- <div id="bgContainerWithCss"></div> -->
    <div id="multiImgJustDiv">
        <img src="../images/12.jpg">
        <img src="../images/13.jpg">
        <img src="../images/15.jpg">
    </div>
</body>

</html>