#layoutRoot {
    display: flex;
}

#options {
    flex: 1;
}

#container {
    flex: 2;
    width: 50%;
    display: grid;
    /* grid-template-columns: repeat(8, 1fr); */
}

#fakeRight {
    flex: 2;
}

#container>div {
    /* background-color: #EEE; */
    border: 1px solid gray;
}

#container>div:nth-child(odd) {
    /* background-color: #DDD; */
}

#container>div.shade {
    background-color: black;
}