/*layout*/

* {
    box-sizing: border-box;
}

.simpleGrid ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-gap: 5px;
}

/* styling */

html {
    background-color: #222222;
    font-size: 20px;
    color: rgb(221, 221, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 2px;
    ;
    padding: 2.2rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}